h1,h2,h3,h4,h5,h6,*{
    margin:0px;
    padding:0px;
}

body {
    font-family:Calibri;
}

.menu ul {
    list-style-type: none;
    display: flex;
}


.card-title {
    background-color: forestgreen;
    height: 30px;
}

.card-title a {

     text-decoration: none;
     color: antiquewhite;
     margin-left: 20px;
     margin-top: 5px;
}

.card-title a:hover {
    color: aliceblue;
}

.footer-stripe {
    height: 5px;
    width: 100%;
    background: linear-gradient(90deg, #198754, #20c997, #198754);
}
